.howto__wrapper {
  margin-top: 12px;
}

.howto__title {
  color: $color-black;
  font-family: $font-family-header;
  font-size: $font-size-header1;
  margin-bottom: 41px;
}

.howto__list {
  list-style: none;
}

.howto__item {
  padding-bottom: 20px;
  margin: 0;
}

// .howto__icon {
//   background-color: $color-primary;
//   width: 60px;
//   height: 60px;
// }

.howto__description {
  color: $color-base;
  font-size: $font-size-base;

  p {
    margin: 0;
  }
}
