.main-cat__wrapper {
  margin-top: 22px;
}

// .main-cat__list {
// }

.main-cat__item {
  background-color: $color-background;
  padding: 20px;
  margin-bottom: 20px;
}

// .main-cat__header {
// }

// .main-cat__header-icon {
// }

.main-cat__header-title {
  font-family: $font-family-header;
  font-size: $font-size-header2;
}

.main-cat__content {
  color: $color-base;
}

// .main-cat__footer {
// }

.main-cat__btn {
  text-align: left;
}
