.title-primary {
  color: $color-black;
  font-family: $font-family-header;
  font-size: $font-size-header1;
}

.title-second {
  color: $color-black;
  font-family: $font-family-header;
  font-size: 24px;
  line-height: 1;
}
