// .add__wrapper {
// }

// .add__title {
// }

// .add__list {
// }

// .add__item {
// }

// .add__item-title {
// }

// .add__item-title-item {
// }

.add__item-title-item-link {
  text-decoration: none;
  color: $color-black;
  font-family: $font-family-header;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

// .add__item-param {
// }

// .add__item-params {
// }

// .add__item-btn {
// }

// .add__button-item {
// }
