// .form__wrapper {
// }

// .form__title {
// }

.form__description {
  color: $color-black;
  font-family: $font-family-header;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__field {
  padding-bottom: 14px;
}

.form__label {
  color: $color-black2;
  font-family: $font-family-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input {
  color: $color-base;
  font-family: $font-family-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

// .form__cat-goal {
// }

// .form__radiogroup {
// }

// .form__radio {
// }

// .form__subtitle {
// }

// .form__cat-owner {
// }

// .form__cat-info {
// }

.form__textarea {
  color: $color-base;
  font-family: $font-family-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

// .form__cat-add {
// }

// .form__radiogroup {
// }

// .form__check {
// }

// .form__submit {
// }

.form__required {
  color: $color-base;
  font-family: $font-family-base;
  font-size: 14px;
  inline-size: 16px;
}
